@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-background: #ffffff;
  --foreground: #171717;
  --sidenav-background: #f6f8fc;
  --text-color: #333333;
  --border-color: #e0e0e0;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}  */

body {
  background-color: var(--body-background);
  height: 100vh;
  min-height: 100vh;
}

.inputDefault {
  border: 1px solid;
}

.j-side-nav {
  flex-direction: column;
  background-color: var(--sidenav-background);
  border-right: 1px solid var(--border-color);
  width: 210px;
  min-width: 185px;
}

/* Hide scrollbar by default */
.custom-scrollbar {
  overflow-y: scroll; /* Enable scrolling */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Hide scrollbar */
  opacity: 0;
}

/* Show scrollbar on hover */
.custom-scrollbar:hover::-webkit-scrollbar {
  width: 6px; /* Set scrollbar width when hovering */
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #dbdde1; /* Scrollbar thumb color on hover */
  border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb:hover {
  background: #d7d7d9; /* Scrollbar thumb color on hover over the thumb */
}
.headerFontFamily {
  font-family: "circular";
}

.formInputdefault {
  border-radius: 10px;
  padding: 0px 6px;
  height: 40px;
  border: 1px solid #afafaf;
}
.formContainerWrapper {
  background: rgb(252 251 251);
  box-shadow: rgb(223, 223, 223) 1px 1px 2px 2px;
}
